/* CSS declarations go here */
body{
    background-color: beige;
}
#header{
    height: 120px;
    background-image: url('../img/backgroundheader.png');
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
}

#controllerWrap {
    background-color: lightgrey;
    height: 100%;
}
#controllerWrap form {
    width: 80%;
    margin:0 auto;
    padding: 6px;
}

#remove form{
    align-items: right;
}
#total{
    text-align: right;
}
/*#titleBar{
    display: flex;
    justify-content: space-between;
    margin:5px;
}*/
#titleBarH{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin:0 auto;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    color:darkslategrey;
    font-size: 1.3em;


}
li{

    display: flex;
    justify-content: space-between;
}
ul{
    width:1000px;
}
#titleBarH h2{
    font-style: oblique;
    font-size: 1em;
    vertical-align: middle;
    margin-top: 45px;
}




.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: beige;
    z-index:100;
    width:100%


}

.dropdown--active .dropdown__content {
    margin:10px;
    border-radius: 25px;
    border-style: groove;
    display: block;
    max-width: 150px;
    position:absolute;
    background-color:cornsilk;
    max-width: 15%;



}

#Account{
    font-family: FreeSans;
    font-size: 0.2em;
    display: flex;
    max-width: 100%;



}
.account-dropdown a{
    /* Applies to all unvisited links */
    text-decoration:  underline;

    font-weight:      bold;
    color:            black;
    font-family: FreeSans;
    font-size: 0.7em;
    text-decoration: none;
    text-align: right;


}
.account-dropdown a:hover{
    /* Applies to all unvisited links */
    text-decoration:  underline;

    font-weight:      bold;
    color:            darkslategrey;
    font-family: FreeSans;
    font-size: 0.7em;
    text-decoration: none;
    text-align: right;


}

.account-dropdown__avatar{
    max-width: 50px;
    margin-left: 20px;
}
.account-dropdown__name{
    max-width: 100px;
}

