  
.container{
    max-width: 100%;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }


  .button_controller{
    filter: invert(100);
      width: 28px;
  }
  .button_controller:hover{
    filter: invert( 0);
  }

  .button_disabled{
    cursor:not-allowed;
    pointer-events: none;
    filter: opacity(0.20);
  }