  
.container{
    max-width: 100%;
  }
  
  .controllerWrap form {
    width: 100%;
    margin:0 auto;
  
  
  }
  .formstyle{
    margin: 0 auto;
    padding:0rem;
    display: flex;
    flex-direction: column;
   border: 1px solid #696969;
  }