
.full{
  width: max;
  background-color: black;
}
.controller_bar{
  //margin-top: 40px;
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  background: black;
  -webkit-box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);
  -moz-box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);
  box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);

  -webkit-box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
  -moz-box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
  box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
}

.controller{
  margin:0 auto;
  padding-top:2px;
}
.buttons{
  padding-top:4px;

}
.button_controller{
  filter: invert(100);
  width: 28px;
}
.button_controller:hover{
  filter: invert( 0);
}

.button_disabled{
  cursor:not-allowed;
  pointer-events: none;
  filter: opacity(0.20);
}

