.Aligner{
  width: 100%;
  display: flex;
  background-color: black;
  
}
.AlignerWhite{
  width: 80%;
  background-color: white;
  
}
.logout{
  margin-right: 20px;
}

.space{
  margin-right:3px;
  margin-left: 3px;
}
.footer_buttons{
  margin:0 auto;
  width: 80%;
  height: 35px;
  display: flex;
  background-color: black;
}
.footer_buttons2{
  height: 35px;
  display: flex;
  background-color: black;
}
.foot{
  background: white;
  padding: 4px;

}

.showData{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;

}
.showData h1{
  font-family: 'Oxygen', sans-serif;
  color: black;
  font-size: 2rem;
}
.showData h2{
  font-family: 'Oxygen', sans-serif;
  color: black;

}