.Aligner{
  width: 100%;
  display: flex;
  background-color: black;
  
}
.AlignerWhite{
  width: 80%;
  background-color: white;
  
}


.space{
  margin-right:3px;
  margin-left: 3px;
}
.footer_buttons{
  margin:0 auto;
  width: 80%;
  height: 38px;
  display: flex;
  background-color: black;
  justify-content: space-between;
}

.foot{
  background: white;
  padding: 4px;

}
.logout{

}
.showData{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: white;

}
.showData h1{
  font-family: 'Oxygen', sans-serif;
  color: black;
  font-size: 2rem;
}
.showData h2{
  font-family: 'Oxygen', sans-serif;
  color: black;

}