.footer_fixed{

  position: relative;
  left: 0;
  bottom: 0;

}

.footer_buttons{
  width: max;
  height: 35px;
  margin-left: 0%;
  margin-top:10px;
  background: black;
  display: flex;
justify-content: center;
  -webkit-box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);
  -moz-box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);
  box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);

  -webkit-box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
  -moz-box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
  box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
}
.foot{
  background: white;
  padding: 4px;

}
.logout{
  margin-left: 50px;
}
.showData h1{
  font-size: 0.8rem;
  align-self: center;

}