.profile_grid{
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding: 5%;
  font-family: Oxygen;
  font-weight: 100;
  grid-gap: 80px;
}

.info{
  line-height: 0.2rem;
  padding-left:5px;
  padding-right: 5px;
  padding-bottom: 0px;
  border: solid 1px black;
  width: 250px;
  height: 150px;
  text-align: center;

}
.info:hover{
  color:white;
  background: black;
  border: 1px solid white;


}

.title_g h1{
  padding: 2px;
  font-size: 1rem;
  color:white;
  background: black;
  font-weight: 900;

}
.menu_g{
  max-width: 370px;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
 align-items: normal;
}
.stock_g{
  max-width: 370px;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: normal;
}
.stocktake_g{
  max-width: 370px;
  grid-column: 1;
  grid-row:2;
  display: flex;
  justify-content: space-between;
  align-items: normal;
}

.temperature_g{
  max-width: 370px;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: normal;
}



.profile_grid img{
  width: 100px;

}
.img_g:hover{
  filter: invert( 100);


}
@media only screen and (max-width: 900px) {
  form{
    display: none;
  }
  .profile_grid img{
    width: 40px;
  }
  .menu_g{
    grid-column: 1;
    grid-row: 1;
  }
  .stock_g{
    grid-column: 1;
    grid-row: 2;
  }

  .stocktake_g{
    grid-column: 1;
    grid-row: 3;
  }

  .temperature_g{
    grid-column: 1;
    grid-row: 4;
  }
}
