/*HEADER*/
/*--------------------------------------------------------------------------------*/
.header{
    height: 90px;
    width: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;

  
  }

  .logo{
    width:120px;


  }
  
  .titleBar{
    height: 80px;
    display: flex;
    justify-content:space-between;
    width: 80%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
    color:white;
    font-size: 0.8rem;
    margin: 0 auto;
  
  }
  .titleBarDate{
      
   }
  .titleMainData{
  
  }

  /*TYPING*/
/*--------------------------------------------------------------------------------*/

h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
    line-height: 15px;
    color: black;
}
  
h2{
    line-height: 50px;
    font-size:1rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: white
}
  

/*Nav*/
.navbar {
  background-color: lightgray;
  display: flex;
  align-content: space-around;
  width: 100%;
  -webkit-box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);
  -moz-box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);
  box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);

  -webkit-box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
-moz-box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none;

}
.navbarcontainer{
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}
.dropdown {
}

.dropdown .dropbtn {
  font-size: 13px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightgray;
}
a{
  font-family:'Oxygen', sans-serif;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 30px;}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}