/*HEADER*/
/*--------------------------------------------------------------------------------*/
.header{
    height: 90px;
    width: 100%;
    background-color: #eae6ca;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
  
  }

  .logo{
    height: 50%;
    padding:20px;
  }
  
  .titleBar{
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 85%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
    color:black;
    font-size: 0.8rem;
    margin: 0 auto;
  
  }
  .titleBarDate{
      
   }
  .titleMainData{
  
  }

  /*TYPING*/
/*--------------------------------------------------------------------------------*/

/*SOCIAL*/

.social{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 20px;
}

.social i {
  padding: 10px;
}
  

/*Nav*/
.navbar {
  background-color: lightgray;
  display: flex;
  align-content: space-around;
  width: 100%;
  -webkit-box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);
  -moz-box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);
  box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);

  -webkit-box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
-moz-box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  text-decoration: none;

}

.dropdown h3:hover{
  color: black;
}
.navbarcontainer{
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}
.dropdown {
}

.dropdown .dropbtn {
  font-size: 13px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: lightgray;
}
a{
  font-family:'Oxygen', sans-serif;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 30px;}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}