.sub {
  width: 40%;
  height: 70%;
  padding: 20px;

}
.subOne{
  width: 60%;
  padding: 20px;
  border-right: 2px lightgrey;
}

.aligner{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
}
.claim{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logoClaim{
  width: 400px;
  padding:30px;

}

.signup_form_style {
  background-color: white;
  padding: 20px;
  width: 75%;
  margin-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  font-size: 1em;
  font-weight: 100;

}

.formButton {
  background-color:#ffffff;
  display:inline-block;
  color:black;
  font-size:28px;
  font-weight: 500;
  padding:6px 24px;
  margin-top: 15px;
  margin-right: 60px;
  border-style: hidden;
  text-decoration:none;
  font-family: 'Oxygen', sans-serif;
}

.formButton:hover {
  background-color: black;
  color:#ffffff;
}

.formButton:active {
  position:relative;
  top:3px;
}

/*Signup/Login switch*/
.formButtonSL {
  background-color:#ffffff;
  display:inline-block;
  position: relative;
  float:right;
  color:black;
  font-size:12px;
  font-weight: 300;
  padding:6px 24px;
  margin-top: 15px;
  margin-right: 60px;
  //margin: 0 auto;

  border-style: hidden;
  text-decoration:none;
  font-family: 'Oxygen', sans-serif;
}

.formButtonSL:hover {
  background-color: black;
  color:#ffffff;
}

.formButtonSL:active {
  position:relative;
  top:3px;
}


/*To remove the outline that appears on clicking the input textbox*/
input:focus {
  outline: none;
}

/* To format the placeholder text color */
::-webkit-input-placeholder {
  color: black;
}

:-moz-placeholder { /* Firefox 18- */
  color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: black;
}

:-ms-input-placeholder {
  color: black;
}
