


#remove form{
  align-items: center;
}
#total{
  text-align: right;
}










.formstyle input[type=text],
.formstyle input[type=date],
.formstyle input[type=datetime],
.formstyle input[type=number],
.formstyle input[type=search],
.formstyle input[type=time],
.formstyle input[type=url],
.formstyle input[type=email],
textarea,
select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 5px;
  margin:10px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border-radius: 7px;

}

.img404{
  margin: 5% 20% 20% 20%;
}
