


#remove form{
  align-items: center;
}
#total{
  text-align: right;
}










.formstyle input[type=text],
.formstyle input[type=date],
.formstyle input[type=datetime],
.formstyle input[type=number],
.formstyle input[type=search],
.formstyle input[type=time],
.formstyle input[type=url],
.formstyle input[type=email],
textarea,
select{
  font-family: 'Oxygen', sans-serif;
  font-size: 0.7rem;
  margin-top: 2000px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 5px;
  margin:10px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border-radius: 7px;

}

.img404{
  margin: 5% 20% 20% 20%;
}


.price{
  width: 60px;
}

.plus{
  text-decoration: none;
  border-style: none;
  background-color: white;
  
}

.plus :hover{
  color: gray;
}