@import './../stock/main-stock';
@import "./../generic/table";
@import "./../generic/title-bar";
@import "./../generic/addItem";
@import "./../generic/autocomplete";
@import "./../stocktake/stocktake.scss";
@import "./../startingPages/signup.scss";
@import './../generic/controller_and_buttons.scss';
@import "./../generic/footer";


body{
    margin: 0;
}

.black_wrapper{
    background: black;
    width: 100%;
    max-height: 60px;
    -webkit-box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);
    -moz-box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);
    box-shadow: 0px -1px 4px 0px rgba(140,140,140,1);

    -webkit-box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
    -moz-box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);
    box-shadow: 0px 1px 4px 0px rgba(140,140,140,1);

}

h1{
    font-family: 'Oxygen', sans-serif;
    font-size: 3rem;
    line-height: 15px;
    color: black;
}

h2{
    line-height: 50px;
    font-size:1rem;
    font-family: 'Oxygen', sans-serif;
    color: black;
}
