@import './../stock/main-stock';
@import "./../generic/table";
@import "./../generic/title-bar";
@import "./../generic/addItem";
@import "./../generic/autocomplete";
@import "./../stocktake/stocktake.scss";
@import "./../startingPages/_signup.scss";


body{
    margin: 0;
}



